In [1]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request
import json
import pickle

# Predicting the Movies with the use of Tags and Cosine Similarity to get similar genres, actors, director movies

### Using Api to extract Overview, Production Company Column, Taglines , Vote Average(Rating), Don't run this part

In [2]:
df = pd.read_csv("final_data_with2018,19,20,21.csv")

In [3]:
df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
5964,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans,Action Adventure Thriller,the king's man,Ralph Fiennes Gemma Arterton Rhys Ifans Matthe...
5965,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,Drama War,the tragedy of macbeth,Denzel Washington Frances McDormand Bertie Car...
5966,Denzel Washington,Michael B. Jordan,Chanté Adams,Jalon Christian,Drama Romance,a journal for jordan,Michael B. Jordan Chanté Adams Jalon Christian...
5967,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,Drama,american underdog,Zachary Levi Anna Paquin Dennis Quaid Erwin br...
5968,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...,Elkin Díaz,Jeanne Balibar,Drama,memoria,Apichatpong Weerasethakul (director/acreenplay...

In [ ]:
df=df.drop(['comb'], axis=1)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = 'f34d0c878dde3e9b563dd8d4eabbed5c'

In [ ]:
#Getting Overview Column
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
    genres = []
    #searching the title of the movie in tmdb
    result = tmdb_movie.search(x)
    #checks if the movie is present in TMDB database
    if(result):
        
        movie_id = result[0].id
        #requesting to accesss the info of that movie title
        response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
        #converting it into jason file
        data_json = response.json()
        #getting genres column and appending in our data
        if data_json['overview']:
            genre_str = " " 
            genres.append(data_json['overview'])
            return genre_str.join(genres)
    else:
        genre_str = "not found"
        return genre_str

In [ ]:
df['overview'] = df['movie_title'].map(lambda x: get_genre(str(x)))

In [ ]:
df

In [ ]:
#Getting Taglines Column
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_tagline(x):
    taglines = []
    #searching the title of the movie in tmdb
    result = tmdb_movie.search(x)
    #checks if the movie is present in TMDB database
    if(result):
        
        movie_id = result[0].id
        #requesting to accesss the info of that movie title
        response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
        #converting it into jason file
        data_json = response.json()
        #getting genres column and appending in our data
        if data_json['tagline']:
            tagline_str = " " 
            taglines.append(data_json['tagline'])
            return tagline_str.join(taglines)
    else:
        tagline_str = "not found"
        return tagline_str

In [ ]:
df['tagline'] = df['movie_title'].map(lambda x: get_tagline(str(x)))

In [ ]:
df

In [ ]:
#Getting Rating Column
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_rating(x):
    rating = []
    #searching the title of the movie in tmdb
    result = tmdb_movie.search(x)
    #checks if the movie is present in TMDB database
    if(result):
        
        movie_id = result[0].id
        #requesting to accesss the info of that movie title
        response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
        #converting it into jason file
        data_json = response.json()
        #getting genres column and appending in our data
        if data_json['vote_average']:
            rating_str = " " 
            rating.append(str(data_json['vote_average'])) #the data was float type so we convert to string
            return rating_str.join(rating)
    else:
        rating_str = "not found"
        return rating_str

In [ ]:
df['rating'] = df['movie_title'].map(lambda x: get_rating(str(x)))
df

In [ ]:
#Getting production companies Column
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_production(x):
    company = []
    #searching the title of the movie in tmdb
    result = tmdb_movie.search(x)
    #checks if the movie is present in TMDB database
    if(result):
        
        movie_id = result[0].id
        #requesting to accesss the info of that movie title
        response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
        #converting it into jason file
        data_json = response.json()
        #getting genres column and appending in our data
        if data_json['production_companies']:
            company_str = " " 
            for i in range(0,len(data_json['production_companies'])):
              company.append(data_json['production_companies'][i]['name'])
            return company_str.join(company)
    else:
        company_str = "not found"
        return company_str

In [ ]:
df['companies'] = df['movie_title'].map(lambda x: get_production(str(x)))
df

In [ ]:
#df.to_csv('final_data_withoverviewsalso.csv',index=False)

### Loading the Saved Extraction as it is very difficult to run api again and again
### Start from here

In [2]:
df = pd.read_csv('final_data_withoverviewsalso.csv')

In [3]:
df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,overview,tagline,rating,companies
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,"In the 22nd century, a paraplegic Marine is di...",Enter the world of Pandora.,7.6,Dune Entertainment Lightstorm Entertainment 20...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",7.2,Jerry Bruckheimer Films Second Mate Production...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,A cryptic message from Bond’s past sends him o...,A Plan No One Escapes,6.5,Columbia Pictures Metro-Goldwyn-Mayer Eon Prod...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Following the death of District Attorney Harve...,The Legend Ends,7.8,Syncopy Legendary Pictures DC Entertainment Wa...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Thirty years after defeating the Galactic Empi...,Every generation has a story.,7.296,Lucasfilm Ltd. Bad Robot
...,...,...,...,...,...,...,...,...,...,...
5964,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans,Action Adventure Thriller,the king's man,As a collection of history's worst tyrants and...,Witness the bloody origin.,6.8,Marv Films Cloudy Productions 20th Century Stu...
5965,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,Drama War,the tragedy of macbeth,"Macbeth, the Thane of Glamis, receives a proph...",NaN,7.0,IAC Films A24
5966,Denzel Washington,Michael B. Jordan,Chanté Adams,Jalon Christian,Drama Romance,a journal for jordan,Based on the true story of First Sergeant Char...,NaN,7.3,Outlier Society Productions Escape Artists Bro...
5967,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,Drama,american underdog,"The true story of Kurt Warner, who went from a...",Some dreams become destiny.,7.3,Lionsgate City on a Hill Productions Kingdom S...
5968,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...,Elkin Díaz,Jeanne Balibar,Drama,memoria,"One morning, Jessica Holland, a Scottish orchi...","In here, time stops.",6.003,Anna Sanders Films Burning Blue Illuminations ...

### Data cleaning and pre processing

In [22]:
#We need to change names or texts like Samay Raina to SamayRaina
#Bcz lets say a person searches Samay Raina it may be possible the model
#predicts acc. to some other actor Samay Gupta
df['director_name']=df['director_name'].str.replace(" ", "")
df['actor_1_name']=df['actor_1_name'].str.replace(" ", "")
df['actor_2_name']=df['actor_2_name'].str.replace(" ", "")
df['actor_3_name']=df['actor_3_name'].str.replace(" ", "")
df['title_nospace']=df['movie_title'].str.replace(" ", "")

In [ ]:
df

In [ ]:
df=df.replace(np.nan, '')
df

In [ ]:
# replacing not found with empty string
df['overview']=df['overview'].str.replace("not found", "")
df['tagline']=df['tagline'].str.replace("not found", "")
df['rating']=df['rating'].str.replace("not found", "")
df['companies']=df['companies'].str.replace("not found", "")

## Content Based Filtering

In [ ]:
df['tags'] = df['director_name'] +" "+ df['actor_1_name'] +" "+ df['actor_2_name'] +" "+ df['actor_3_name'] +" "+ df['companies']+" "+ df['genres']+" "+df['tagline']

In [ ]:
df

In [ ]:
df['tags'][0]

In [ ]:
new_df = df[['director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name','genres','overview', 'movie_title','title_nospace' , 'tags','rating']]
new_df

In [ ]:
new_df.info()

In [ ]:
new_df.isna().sum()

In [ ]:
!pip install nltk

In [ ]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [ ]:
# to consider 'loved' , 'loving' , 'love' as same i.e love
def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [ ]:
new_df['tags'] = new_df['tags'].apply(stem)

In [ ]:
new_df['tags'][0]

In [ ]:
new_df

In [ ]:
# to calulate similarity between the tags of different movie tittles we will use vectorizer and cosine similarity
# maths behind it is written in copy, read it

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfv=TfidfVectorizer(min_df=3, max_features=None, 
                    strip_accents='unicode', analyzer='word', token_pattern=r'\w{1,}', 
                    ngram_range=(1,3), stop_words='english')

In [ ]:
# transform into matrix
tfv_matrix = tfv.fit_transform(new_df['tags']).toarray()

In [ ]:
tfv_matrix[0]

In [ ]:
tfv_matrix.shape #there are 5969 rows and 10298 diiferent features(words) are there

In [ ]:
#seeing how many different words or features are present in the dataset
tfv.get_feature_names_out()

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(tfv_matrix)

In [ ]:
similarity[0]

In [ ]:
similarity[0][9]

In [ ]:
#checking what is the cosine similarity of movie at index 0 with others
sorted(similarity[0], reverse=True)

In [ ]:
list(enumerate(similarity[0])) #to get index with cosine similarity

In [ ]:
sorted(list(enumerate(similarity[0])), reverse=True , key=lambda x:x[1])
#sort according to the second column that is cosine similarity

In [ ]:
#how to get the movie id
new_df[new_df['title_nospace'] == 'batmanbegins'].index[0]

In [ ]:
#creating a function to recommend movie according to the sorted list of cosine similarity of that movie
def recommend(movie):
    movie_index = new_df[new_df['title_nospace'] == movie].index[0]
    distances = similarity[movie_index]
    #getting top 10 recommended movies
    movies_list = sorted(list(enumerate(distances)), reverse=True , key=lambda x:x[1])[1:11]
    for i in movies_list:
        recommended_movie_index = new_df.iloc[i[0]]
        print("Title:", recommended_movie_index['movie_title'])
        print("Rating:", recommended_movie_index['rating'])
        print("Overview:", recommended_movie_index['overview'])
        print()

In [ ]:
#We will take the input from user and remove all the spaces from it,
recommend('ironman')

# Predicting the Movies with the use of Collaborative Filtering

In [6]:
rating_popular_movie = pd.read_csv('rating_popular_movie.csv', usecols = ['userId' ,'movieId', 'rating' , 'totalratingcount', 'movie_name', 'movie_name_nospace'], dtype ={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32', 'totalratingcount': 'int32'})
rating_popular_movie

,userId,movieId,rating,totalratingcount,movie_name,movie_name_nospace
0,1,296,5.0,79672,pulp fiction,pulpfiction
1,3,296,5.0,79672,pulp fiction,pulpfiction
2,4,296,4.0,79672,pulp fiction,pulpfiction
3,5,296,4.0,79672,pulp fiction,pulpfiction
4,7,296,4.0,79672,pulp fiction,pulpfiction
...,...,...,...,...,...,...
22142582,130233,192003,3.5,1381,journey to the center of the earth,journeytothecenteroftheearth
22142583,32063,124757,3.0,1527,hostage,hostage
22142584,72315,124757,3.0,1527,hostage,hostage
22142585,111664,124757,4.0,1527,hostage,hostage
22142586,150604,124757,1.5,1527,hostage,hostage

In [8]:
## First lets create a Pivot matrix
## see below at userId=3 and title = A Space Odyssey the value is 5 
## means user 3rd has given 5 rating to A Space Odyssey
movie_features_df=rating_popular_movie.pivot_table(index='movie_name_nospace',columns='userId',values='rating').fillna(0)
movie_features_df

userId,1,2,3,4,5,6,7,8,9,10,...,162532,162533,162534,162535,162536,162537,162538,162539,162540,162541
movie_name_nospace,,,,,,,,,,,,,,,,,,,,,
"'burbs,the",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5
(500)daysofsummer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.5,0.0,0.0,0.0
*batteriesnotincluded,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...andjusticeforall,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"10,000bc",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zombieland,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zoolander,0.0,0.0,3.5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zootopia,0.0,0.0,0.0,4.5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zulu,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
¡threeamigos!,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
## Creating an array matrix of the pivot table 
from scipy.sparse import csr_matrix

movie_features_df_matrix = csr_matrix(movie_features_df.values)

In [10]:
#Using Nearest Neighbours(unsupervised ML) we will use cosine similarity
# Explained in detal in copy
from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [11]:
movie_features_df.shape

(3724, 162539)

In [12]:
movie_features_df.shape[0]

3724

In [13]:
# if the movie exists in this pivot table find its index
def get_movie_index(movie_name, pivot):
    try:
        movie_index = pivot.index.get_loc(movie_name)
        return movie_index
    except KeyError:
        return None

In [27]:
#input the user can give
movie_name = "tenet"
index = get_movie_index(movie_name, movie_features_df)
print(index)

None

In [28]:
#Getting distances and index and predecting recommended movies acc to user to user model
if(index):
    distances, indices = model_knn.kneighbors(movie_features_df.iloc[index,:].values.reshape(1, -1), n_neighbors = 6)
    for i in range(0, len(distances.flatten())):
        if i == 0:
            print('Recommendations for {0}:\n'.format(movie_features_df.index[index]))
        else:
            print('{0}: {1}'.format(i, movie_features_df.index[indices.flatten()[i]]))